/* 
------------------------------------------------------------------
    Imports
------------------------------------------------------------------
*/


/* Init Bulma Import */

@import "../node_modules/bulma/sass/utilities/_all.sass";

/* Base */

@import "../node_modules/bulma/sass/base/generic.sass";
@import "../node_modules/bulma/sass/base/helpers.sass";
@import "../node_modules/bulma/sass/base/minireset.sass";

/* Grid Imports */

@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";

/* Header Imports */

@import "../node_modules/bulma/sass/components/navbar.sass";

/* Element Imports */

@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";

/* Animation Imports */

@import "../node_modules/bulma/sass/utilities/animations.sass";

/* Custom Imports */

@import "custom/button.sass";

/* 
------------------------------------------------------------------
    Custom Variables 
------------------------------------------------------------------
*/


/* Browser Icons */

$browser_icon_svg_height: 56px;
$browser_icon_width: 150px;
$margin_center: 0 auto;
$content_border: 1px solid #ededed;
$browser_padding: 10px 15px;

/* Titles */

$title_padding: 40px 20px;

/* 
------------------------------------------------------------------
    Custom Styling
------------------------------------------------------------------
*/

img {
    max-width: 100%;
}

.browsers .browser-block {
    text-align: center;
    max-width: $browser_icon_width;
    margin: $margin_center;
}

.browsers .browser-name {
    margin-top: 15px;
}

.section .section-title-wrapper {
    position: relative;
    padding: 40px 20px;
}

.browsers .browser-block .browser-name {
    background: white;
    color: #999;
    font-weight: 500;
    padding: $browser_padding;
    margin: 0;
    border-radius: 8px;
    border: $content_border;
}

.browsers .browser-block .browser-icon {
    height: $browser_icon_svg_height;
    margin: 10px 0;
}

.hero.is-theme-primary,
.section.is-theme-primary {
    background: linear-gradient(45deg, #334791, #4d94bf);
}

.huge-pb {
    padding-bottom: 150px;
}

.hero.hero-wavy:before {
    background: transparent url(../images/wavy-alt.png) no-repeat scroll 0 bottom/100% auto;
    content: "";
    height: 321px;
    width: 100%;
    z-index: 1 !important;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.hero.is-theme-primary {
    background-color: rgba(77, 148, 191, 1);
}

.navbar-wrapper.navbar-light .navbar-item,
.navbar-wrapper.navbar-light .navbar-link {
    color: #fff;
}

.hero-caption .title.big-landing-title {
    color: #fff;
}

.light-text {
    color: #fff !important;
}

.hero-caption {
    text-align: left;
}

.hero-caption h1 {
    text-transform: uppercase;
}

.cms-icon {
    max-width: 50px;
    margin: $margin_center;
}

.navbar {
    padding: 15px 0;
}